'{java.lang.Object
  {:alias :any
   :instance-fns
   {toString [{:args [] :type :call :symbol "toString" :returns java.lang.String}]}}

  java.lang.Class
  {:object-type 15
   :extends java.lang.Object}

  java.lang.Long
  {:object-type 1
   :alias :int
   :extends java.lang.Object
   :static-fields
   {BYTES 4
    MAX_VALUE 2147483647
    MIN_VALUE -2147483647
    SIZE 32}}

  java.lang.Double
  {:object-type 2
   :alias :double
   :extends java.lang.Object}

  java.lang.PersistentArrayMap
  {:object-type 16
   :extends java.lang.Object}

  clojure.lang.BigInt
  {:extends java.lang.Object
   :object-type 13}

  clojure.lang.Ratio
  {:extends java.lang.Object
   :object-type 14}

  clojure.lang.Boolean
  {:alias :bool
   :object-type 4
   :extends java.lang.Object}

  clojure.lang.Keyword
  {:alias :keyword
   :object-type 6
   :extends java.lang.Object}

  clojure.lang.Symbol
  {:alias :symbol
   :object-type 5
   :extends java.lang.Object}

  ;; character: clojure.lang.Character

  clojure.lang.Var
  {:extends java.lang.Object}

  clojure.lang.Numbers
  {:static-fns
   {add   [{:args [:double :double] :type :intrinsic :symbol "FAdd"         :returns :double}
           {:args [:int :int]       :type :intrinsic :symbol "Add"          :returns :int}
           {:args [:any :any]       :type :call      :symbol "add"          :returns :any}]
    minus [{:args [:double :double] :type :intrinsic :symbol "FSub"         :returns :double}
           {:args [:int :int]       :type :intrinsic :symbol "Sub"          :returns :int}
           {:args [:any :any]       :type :call      :symbol "sub"          :returns :any}]
    multiply [{:args [:double :double] :type :intrinsic :symbol "FMul"      :returns :double}
              {:args [:int :int]       :type :intrinsic :symbol "Mul"       :returns :int}
              {:args [:any :any]       :type :call      :symbol "mul"       :returns :any}]
    divide  [{:args [:double :double] :type :intrinsic :symbol "FDiv"       :returns :double}
             {:args [:int :int]       :type :intrinsic :symbol "Div"        :returns :int}
             {:args [:any :any]       :type :call      :symbol "div"        :returns :any}]
    gte  [{:args [:double :double] :type :intrinsic :symbol "FCmpOGE"       :returns :bool}
          {:args [:int :int]       :type :intrinsic :symbol "ICmpSGE"       :returns :bool}
          {:args [:any :any]       :type :call      :symbol "gte"           :returns :bool}]
    lt  [{:args [:double :double] :type :intrinsic :symbol "FCmpOLT"        :returns :bool}
         {:args [:int :int]       :type :intrinsic :symbol "ICmpOLT"        :returns :bool}
         {:args [:any :any]       :type :call      :symbol "lt"             :returns :bool}]}}

  java.lang.Math
  {:static-fns
   {sin   [{:args [:double] :type :call :symbol "sin"   :returns :double}]
    cos   [{:args [:double] :type :call :symbol "cos"   :returns :double}]
    tan   [{:args [:double] :type :call :symbol "tan"   :returns :double}]
    asin  [{:args [:double] :type :call :symbol "asin"  :returns :double}]
    acos  [{:args [:double] :type :call :symbol "acos"  :returns :double}]
    atan  [{:args [:double] :type :call :symbol "atan"  :returns :double}]
    exp   [{:args [:double] :type :call :symbol "exp"   :returns :double}]
    exp2  [{:args [:double] :type :call :symbol "exp2"  :returns :double}]
    exp10 [{:args [:double] :type :call :symbol "exp10" :returns :double}]
    log   [{:args [:double] :type :call :symbol "log"   :returns :double}]
    log10 [{:args [:double] :type :call :symbol "log10" :returns :double}]
    logb  [{:args [:double] :type :call :symbol "logb"  :returns :double}]
    log2  [{:args [:double] :type :call :symbol "log2"  :returns :double}]
    sqrt  [{:args [:double] :type :call :symbol "sqrt"  :returns :double}]
    cbrt  [{:args [:double] :type :call :symbol "cbrt"  :returns :double}]
    exp1m [{:args [:double] :type :call :symbol "exp1m" :returns :double}]
    log1p [{:args [:double] :type :call :symbol "log1p" :returns :double}]
    abs   [{:args [:double] :type :call :symbol "fabs"  :returns :double}]
    atan2 [{:args [:double :double] :type :call :symbol "atan2" :returns :double}]
    pow   [{:args [:double :double] :type :call :symbol "pow"   :returns :double}]
    hypot [{:args [:double :double] :type :call :symbol "hypot" :returns :double}]}}

  java.lang.String
  {:object-type 7
   :static-fns
   {print [{:args [:any] :type :call :symbol "print" :returns :nil}]}
   :instance-fns
   {contains [{:args [java.lang.String] :type :call :symbol "String_contains" :returns :bool}]
    indexOf  [{:args [java.lang.String] :type :call :symbol "String_indexOf"  :returns :int}
              {:args [java.lang.String :int] :type :call :symbol "String_indexOfFrom"  :returns :int}]
    replace [{:args [java.lang.String java.lang.String] :type :call :symbol "String_replace" :returns java.lang.String}]}}

  clojure.lang.Util
  {:static-fns
   {equiv [{:args [:int :int] :type :intrinsic :symbol "ICmpEQ" :returns :bool}
           {:args [:double :double] :type :intrinsic :symbol "FCmpOEQ" :returns :bool}
           {:args [:any :any] :type :call :symbol "equals" :returns :bool}]}}

  clojure.lang.PersistentVector
  {:object-type 9
   :instance-fns
   {asTransient [{:args [:this] :type :call :symbol "PersistentVector_transient" :returns clojure.lang.PersistentVector}]
    persistent [{:args [:this] :type :call :symbol "PersistentVector_persistent_BANG_" :returns clojure.lang.PersistentVector}]
    conj [{:args [:this :any] :type :call :symbol "PersistentVector_conj_BANG_" :returns clojure.lang.PersistentVector}]
    assoc [{:args [:this :int :any] :type :call :symbol "PersistentVector_assoc_BANG_" :returns clojure.lang.PersistentVector}]
    pop [{:args [:this] :type :call :symbol "PersistentVector_pop_BANG_" :returns clojure.lang.PersistentVector}]}}

  clojure.lang.RT
  {:static-fns
   {conj [{:args [clojure.lang.PersistentVector :any] :type :call :symbol "PersistentVector_conj" :returns clojure.lang.PersistentVector}]
    assoc [{:args [clojure.lang.PersistentVector :int :any] :type :call :symbol "PersistentVector_assoc" :returns clojure.lang.PersistentVector}]
    pop [{:args [clojure.lang.PersistentVector] :type :call :symbol "PersistentVector_pop" :returns clojure.lang.PersistentVector}]}}}
