*.o

backend/runtime/*.bc
backend/runtime/*.ll
backend/clojure-rt*
backend/runtime/libruntime.a
backend/runtime/runtime-tests
backend/*.clj
backend/*.cljb
backend/CMakeFiles/*
backend/runtime/CMakeFiles/*
backend/bytecode*
backend/CMakeCache*
backend/runtime/CMakeCache*
backend/runtime/Testing*
backend/runtime/CTestTestfile.cmake
backend/runtime/*_test
backend/cmake_install*
backend/runtime/cmake_install*
backend/Makefile
backend/runtime/Makefile
backend/tests/CMakeFiles/*
backend/tests/CMakeCache/*
backend/tests/Makefile
backend/tests/Testing*
backend/tests/CTestTestfile.cmake
backend/tests/*_test
backend/tests/cmake_install*
backend/Testing*
backend/build_cov/*
backend/libbackend_lib.a
backend/.cache*
backend/compile_commands.json
backend/clojure-rt.dSYM
backend/CMakeUserPresets.json


/.clj-kondo/babashka
/.clj-kondo/.cache
/.lsp
/.calva
frontend/.clj-kondo/babashka
frontend/.clj-kondo/.cache
frontend/.lsp
frontend/.calva
.vscode
backend/.vscode
build
