*.o
backend/clojure-rt
backend/runtime/libruntime.a
backend/runtime/runtime-tests
backend/*.clj
backend/*.cljb
backend/CMakeFiles/*
backend/runtime/CMakeFiles/*
backend/bytecode*
backend/CMakeCache*
backend/runtime/CMakeCache*
backend/cmake_install*
backend/runtime/cmake_install*
backend/Makefile
backend/runtime/Makefile
/.clj-kondo/babashka
/.clj-kondo/.cache
/.lsp
/.calva
frontend/.clj-kondo/babashka
frontend/.clj-kondo/.cache
frontend/.lsp
frontend/.calva
.vscode
backend/.vscode
