'{java.lang.Object
  {:alias :any
   :object-type 20
   :instance-fns
   {toString [{:args [:this] :type :call :symbol "toString" :returns java.lang.String}]}}

  java.lang.Class
  {:object-type 17
   :extends java.lang.Object}


;; Assertion error is here just to enable assert.
  java.lang.AssertionError 
  {:object-type 21
   :extends java.lang.Object
   :constructor [{:args [java.lang.String] :type :call :symbol "Exception_createAssertionErrorWithMessage"}]}

  java.lang.Nil
  {:object-type 12
   :extends java.lang.Object}

  java.lang.Long
  {:object-type 15
   :alias :int
   :extends java.lang.Object
   :static-fields
   {BYTES 4
    MAX_VALUE 2147483647
    MIN_VALUE -2147483647
    SIZE 32}}

  java.lang.Double
  {:object-type 2
   :alias :double
   :extends java.lang.Object}

  java.lang.PersistentArrayMap
  {:object-type 18
   :extends java.lang.Object}

  clojure.lang.BigInt
  {:extends java.lang.Object
   :alias :bigint
   :object-type 8}

  clojure.lang.Ratio
  {:extends java.lang.Object
   :alias :ratio
   :object-type 16}

  clojure.lang.Boolean
  {:alias :bool
   :object-type 13
   :extends java.lang.Object}

  clojure.lang.Keyword
  {:alias :keyword
   :object-type 11
   :extends java.lang.Object}

  clojure.lang.Symbol
  {:alias :symbol
   :object-type 10
   :extends java.lang.Object}

  ;; character: clojure.lang.Character

  clojure.lang.Var
  {:extends java.lang.Object
   :object-type 19}

  clojure.lang.Numbers
  {:static-fns
   {add   [{:args [:double :double] :type :intrinsic :symbol "FAdd"         :returns :double}
           {:args [:int :int]       :type :intrinsic :symbol "Add"          :returns :int}
           {:args [:int :double]    :type :intrinsic :symbol "Add_ID"       :returns :double}
           {:args [:double :int]    :type :intrinsic :symbol "Add_DI"       :returns :double}
           {:args [:int :bigint]    :type :intrinsic :symbol "Add_IB"       :returns :bigint}
            {:args [:bigint :int]    :type :intrinsic :symbol "Add_BI"       :returns :bigint}
            {:args [:bigint :double] :type :intrinsic :symbol "Add_BD"       :returns :double}
            {:args [:double :bigint] :type :intrinsic :symbol "Add_DB"       :returns :double}
            {:args [:ratio :double]  :type :intrinsic :symbol "Add_RD"       :returns :double}
            {:args [:double :ratio]  :type :intrinsic :symbol "Add_DR"       :returns :double}
            {:args [:bigint :ratio]  :type :intrinsic :symbol "Add_BR"       :returns :any}
            {:args [:ratio :bigint]  :type :intrinsic :symbol "Add_RB"       :returns :any}
            {:args [:int :ratio]     :type :intrinsic :symbol "Add_IR"       :returns :any}
            {:args [:ratio :int]     :type :intrinsic :symbol "Add_RI"       :returns :any}
            {:args [:bigint :bigint] :type :call      :symbol "BigInteger_add" :returns :bigint}
            {:args [:ratio :ratio]   :type :call      :symbol "Ratio_add"      :returns :any}
            {:args [:any :any]       :type :call      :symbol "Numbers_add"  :returns :any}]
    minus [{:args [:double :double] :type :intrinsic :symbol "FSub"         :returns :double}
           {:args [:int :int]       :type :intrinsic :symbol "Sub"          :returns :int}
           {:args [:int :double]    :type :intrinsic :symbol "Sub_ID"       :returns :double}
           {:args [:double :int]    :type :intrinsic :symbol "Sub_DI"       :returns :double}
           {:args [:int :bigint]    :type :intrinsic :symbol "Sub_IB"       :returns :bigint}
            {:args [:bigint :int]    :type :intrinsic :symbol "Sub_BI"       :returns :bigint}
            {:args [:bigint :double] :type :intrinsic :symbol "Sub_BD"       :returns :double}
            {:args [:double :bigint] :type :intrinsic :symbol "Sub_DB"       :returns :double}
            {:args [:ratio :double]  :type :intrinsic :symbol "Sub_RD"       :returns :double}
            {:args [:double :ratio]  :type :intrinsic :symbol "Sub_DR"       :returns :double}
            {:args [:bigint :ratio]  :type :intrinsic :symbol "Sub_BR"       :returns :any}
            {:args [:ratio :bigint]  :type :intrinsic :symbol "Sub_RB"       :returns :any}
            {:args [:int :ratio]     :type :intrinsic :symbol "Sub_IR"       :returns :any}
            {:args [:ratio :int]     :type :intrinsic :symbol "Sub_RI"       :returns :any}
            {:args [:bigint :bigint] :type :call      :symbol "BigInteger_sub" :returns :bigint}
            {:args [:ratio :ratio]   :type :call      :symbol "Ratio_sub"      :returns :any}
            {:args [:any :any]       :type :call      :symbol "Numbers_sub"    :returns :any}]
    multiply [{:args [:double :double] :type :intrinsic :symbol "FMul"      :returns :double}
              {:args [:int :int]       :type :intrinsic :symbol "Mul"       :returns :int}
              {:args [:int :double]    :type :intrinsic :symbol "Mul_ID"    :returns :double}
              {:args [:double :int]    :type :intrinsic :symbol "Mul_DI"    :returns :double}
              {:args [:int :bigint]    :type :intrinsic :symbol "Mul_IB"    :returns :bigint}
              {:args [:bigint :int]    :type :intrinsic :symbol "Mul_BI"    :returns :bigint}
              {:args [:bigint :double] :type :intrinsic :symbol "Mul_BD"    :returns :double}
              {:args [:double :bigint] :type :intrinsic :symbol "Mul_DB"    :returns :double}
              {:args [:ratio :double]  :type :intrinsic :symbol "Mul_RD"    :returns :double}
              {:args [:double :ratio]  :type :intrinsic :symbol "Mul_DR"    :returns :double}
              {:args [:bigint :ratio]  :type :intrinsic :symbol "Mul_BR"    :returns :any}
              {:args [:ratio :bigint]  :type :intrinsic :symbol "Mul_RB"    :returns :any}
              {:args [:int :ratio]     :type :intrinsic :symbol "Mul_IR"    :returns :any}
              {:args [:ratio :int]     :type :intrinsic :symbol "Mul_RI"    :returns :any}
              {:args [:bigint :bigint] :type :call      :symbol "BigInteger_mul" :returns :bigint}
              {:args [:ratio :ratio]   :type :call      :symbol "Ratio_mul"      :returns :any}
              {:args [:any :any]       :type :call      :symbol "Numbers_mul"       :returns :any}]
    divide  [{:args [:double :double] :type :intrinsic  :symbol "FDiv"        :returns :double}
             {:args [:int :int]       :type :call       :symbol "Integer_div" :returns :any}
             {:args [:int :double]    :type :intrinsic :symbol "Div_ID"     :returns :double}
             {:args [:double :int]    :type :intrinsic :symbol "Div_DI"     :returns :double}
             {:args [:bigint :double] :type :intrinsic :symbol "Div_BD"     :returns :double}
             {:args [:double :bigint] :type :intrinsic :symbol "Div_DB"     :returns :double}
             {:args [:ratio :double]  :type :intrinsic :symbol "Div_RD"     :returns :double}
             {:args [:double :ratio]  :type :intrinsic :symbol "Div_DR"     :returns :double}
             {:args [:bigint :ratio]  :type :intrinsic :symbol "Div_BR"     :returns :any}
             {:args [:ratio :bigint]  :type :intrinsic :symbol "Div_RB"     :returns :any}
             {:args [:int :ratio]     :type :intrinsic :symbol "Div_IR"     :returns :any}
             {:args [:ratio :int]     :type :intrinsic :symbol "Div_RI"     :returns :any}
             {:args [:bigint :bigint] :type :call      :symbol "BigInteger_div" :returns :any}
             {:args [:ratio :ratio]   :type :call      :symbol "Ratio_div"      :returns :any}
             {:args [:any :any]       :type :call      :symbol "Numbers_div"        :returns :any}]
    gte  [{:args [:double :double] :type :intrinsic :symbol "FCmpOGE"       :returns :bool}
          {:args [:int :int]       :type :intrinsic :symbol "ICmpSGE"       :returns :bool}
          {:args [:int :double]    :type :intrinsic :symbol "ICmpSGE_ID"    :returns :bool}
          {:args [:double :int]    :type :intrinsic :symbol "ICmpSGE_DI"    :returns :bool}
          {:args [:bigint :double] :type :intrinsic :symbol "FCmpOGE_BD"    :returns :bool}
          {:args [:double :bigint] :type :intrinsic :symbol "FCmpOGE_DB"    :returns :bool}
          {:args [:ratio :double]  :type :intrinsic :symbol "FCmpOGE_RD"    :returns :bool}
          {:args [:double :ratio]  :type :intrinsic :symbol "FCmpOGE_DR"    :returns :bool}
          {:args [:bigint :ratio]  :type :intrinsic :symbol "FCmpOGE_BR"    :returns :bool}
          {:args [:ratio :bigint]  :type :intrinsic :symbol "FCmpOGE_RB"    :returns :bool}
          {:args [:int :ratio]     :type :intrinsic :symbol "FCmpOGE_IR"    :returns :bool}
          {:args [:ratio :int]     :type :intrinsic :symbol "FCmpOGE_RI"    :returns :bool}
          {:args [:bigint :bigint] :type :call      :symbol "BigInteger_gte" :returns :bool}
          {:args [:ratio :ratio]   :type :call      :symbol "Ratio_gte"      :returns :bool}
          {:args [:any :any]       :type :call      :symbol "Numbers_gte"           :returns :bool}]


    gt   [{:args [:double :double] :type :intrinsic :symbol "FCmpOGT"       :returns :bool}
          {:args [:int :int]       :type :intrinsic :symbol "ICmpSGT"       :returns :bool}
          {:args [:int :double]    :type :intrinsic :symbol "ICmpSGT_ID"    :returns :bool}
          {:args [:double :int]    :type :intrinsic :symbol "ICmpSGT_DI"    :returns :bool}
          {:args [:bigint :double] :type :intrinsic :symbol "FCmpOGT_BD"    :returns :bool}
          {:args [:double :bigint] :type :intrinsic :symbol "FCmpOGT_DB"    :returns :bool}
          {:args [:ratio :double]  :type :intrinsic :symbol "FCmpOGT_RD"    :returns :bool}
          {:args [:double :ratio]  :type :intrinsic :symbol "FCmpOGT_DR"    :returns :bool}
          {:args [:bigint :ratio]  :type :intrinsic :symbol "FCmpOGT_BR"    :returns :bool}
          {:args [:ratio :bigint]  :type :intrinsic :symbol "FCmpOGT_RB"    :returns :bool}
          {:args [:int :ratio]     :type :intrinsic :symbol "FCmpOGT_IR"    :returns :bool}
          {:args [:ratio :int]     :type :intrinsic :symbol "FCmpOGT_RI"    :returns :bool}
          {:args [:bigint :bigint] :type :call      :symbol "BigInteger_gt" :returns :bool}
          {:args [:ratio :ratio]   :type :call      :symbol "Ratio_gt"      :returns :bool}
          {:args [:any :any]       :type :call      :symbol "Numbers_gt"            :returns :bool}]
    lt   [{:args [:double :double] :type :intrinsic :symbol "FCmpOLT"        :returns :bool}
          {:args [:int :int]       :type :intrinsic :symbol "ICmpSLT"        :returns :bool}
          {:args [:int :double]    :type :intrinsic :symbol "ICmpSLT_ID"     :returns :bool}
          {:args [:double :int]    :type :intrinsic :symbol "ICmpSLT_DI"     :returns :bool}
          {:args [:bigint :double] :type :intrinsic :symbol "FCmpOLT_BD"     :returns :bool}
          {:args [:double :bigint] :type :intrinsic :symbol "FCmpOLT_DB"     :returns :bool}
          {:args [:ratio :double]  :type :intrinsic :symbol "FCmpOLT_RD"     :returns :bool}
          {:args [:double :ratio]  :type :intrinsic :symbol "FCmpOLT_DR"     :returns :bool}
          {:args [:bigint :ratio]  :type :intrinsic :symbol "FCmpOLT_BR"     :returns :bool}
          {:args [:ratio :bigint]  :type :intrinsic :symbol "FCmpOLT_RB"     :returns :bool}
          {:args [:int :ratio]     :type :intrinsic :symbol "FCmpOLT_IR"     :returns :bool}
          {:args [:ratio :int]     :type :intrinsic :symbol "FCmpOLT_RI"     :returns :bool}
          {:args [:bigint :bigint] :type :call      :symbol "BigInteger_lt"  :returns :bool}
          {:args [:ratio :ratio]   :type :call      :symbol "Ratio_lt"       :returns :bool}
          {:args [:any :any]       :type :call      :symbol "Numbers_lt"             :returns :bool}]
    lte  [{:args [:double :double] :type :intrinsic :symbol "FCmpOLE"       :returns :bool}
          {:args [:int :int]       :type :intrinsic :symbol "ICmpSLE"       :returns :bool}
          {:args [:int :double]    :type :intrinsic :symbol "ICmpSLE_ID"    :returns :bool}
          {:args [:double :int]    :type :intrinsic :symbol "ICmpSLE_DI"    :returns :bool}
          {:args [:bigint :double] :type :intrinsic :symbol "FCmpOLE_BD"    :returns :bool}
          {:args [:double :bigint] :type :intrinsic :symbol "FCmpOLE_DB"    :returns :bool}
          {:args [:ratio :double]  :type :intrinsic :symbol "FCmpOLE_RD"    :returns :bool}
          {:args [:double :ratio]  :type :intrinsic :symbol "FCmpOLE_DR"    :returns :bool}
          {:args [:bigint :ratio]  :type :intrinsic :symbol "FCmpOLE_BR"    :returns :bool}
          {:args [:ratio :bigint]  :type :intrinsic :symbol "FCmpOLE_RB"    :returns :bool}
          {:args [:int :ratio]     :type :intrinsic :symbol "FCmpOLE_IR"    :returns :bool}
          {:args [:ratio :int]     :type :intrinsic :symbol "FCmpOLE_RI"    :returns :bool}
          {:args [:bigint :bigint] :type :call      :symbol "BigInteger_lte" :returns :bool}
          {:args [:ratio :ratio]   :type :call      :symbol "Ratio_lte"      :returns :bool}
          {:args [:any :any]       :type :call      :symbol "Numbers_lte"           :returns :bool}]}}



  java.lang.Math
  {:static-fns
   {sin   [{:args [:double] :type :intrinsic :symbol "Math_sin_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_sin_I" :returns :double}
           {:args [:bigint] :type :intrinsic :symbol "Math_sin" :returns :double}
           {:args [:ratio]  :type :intrinsic :symbol "Math_sin" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_sin" :returns :double}]
    cos   [{:args [:double] :type :intrinsic :symbol "Math_cos_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_cos_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_cos"   :returns :double}]
    tan   [{:args [:double] :type :intrinsic :symbol "Math_tan_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_tan_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_tan"   :returns :double}]
    asin  [{:args [:double] :type :intrinsic :symbol "Math_asin_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_asin_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_asin"   :returns :double}]
    acos  [{:args [:double] :type :intrinsic :symbol "Math_acos_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_acos_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_acos"   :returns :double}]
    atan  [{:args [:double] :type :intrinsic :symbol "Math_atan_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_atan_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_atan"   :returns :double}]
    exp   [{:args [:double] :type :intrinsic :symbol "Math_exp_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_exp_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_exp"   :returns :double}]
    exp2  [{:args [:double] :type :intrinsic :symbol "Math_exp2_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_exp2_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_exp2"   :returns :double}]
    exp10 [{:args [:double] :type :intrinsic :symbol "Math_exp10_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_exp10_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_exp10"   :returns :double}]
    log   [{:args [:double] :type :intrinsic :symbol "Math_log_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_log_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_log"   :returns :double}]
    log10 [{:args [:double] :type :intrinsic :symbol "Math_log10_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_log10_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_log10"   :returns :double}]
    logb  [{:args [:double] :type :intrinsic :symbol "Math_logb_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_logb_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_logb"   :returns :double}]
    log2  [{:args [:double] :type :intrinsic :symbol "Math_log2_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_log2_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_log2"   :returns :double}]
    sqrt  [{:args [:double] :type :intrinsic :symbol "Math_sqrt_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_sqrt_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_sqrt"   :returns :double}]
    cbrt  [{:args [:double] :type :intrinsic :symbol "Math_cbrt_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_cbrt_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_cbrt"   :returns :double}]
    exp1m [{:args [:double] :type :intrinsic :symbol "Math_exp1m_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_exp1m_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_exp1m"   :returns :double}]
    log1p [{:args [:double] :type :intrinsic :symbol "Math_log1p_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_log1p_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_log1p"   :returns :double}]
    abs   [{:args [:double] :type :intrinsic :symbol "Math_abs_D" :returns :double}
           {:args [:int]    :type :intrinsic :symbol "Math_abs_I" :returns :double}
           {:args [:any]    :type :intrinsic :symbol "Math_abs"   :returns :double}]
    atan2 [{:args [:double :double] :type :intrinsic :symbol "Math_atan2_DD" :returns :double}
           {:args [:int :int]       :type :intrinsic :symbol "Math_atan2_II" :returns :double}
           {:args [:int :double]    :type :intrinsic :symbol "Math_atan2_ID" :returns :double}
           {:args [:double :int]    :type :intrinsic :symbol "Math_atan2_DI" :returns :double}
           {:args [:any :any]       :type :intrinsic :symbol "Math_atan2"    :returns :double}]
    pow   [{:args [:double :double] :type :intrinsic :symbol "Math_pow_DD"   :returns :double}
           {:args [:int :int]       :type :intrinsic :symbol "Math_pow_II"   :returns :double}
           {:args [:int :double]    :type :intrinsic :symbol "Math_pow_ID"   :returns :double}
           {:args [:double :int]    :type :intrinsic :symbol "Math_pow_DI"   :returns :double}
           {:args [:any :any]       :type :intrinsic :symbol "Math_pow"      :returns :double}]
    hypot [{:args [:double :double] :type :intrinsic :symbol "Math_hypot_DD" :returns :double}
           {:args [:int :int]       :type :intrinsic :symbol "Math_hypot_II" :returns :double}
           {:args [:int :double]    :type :intrinsic :symbol "Math_hypot_ID" :returns :double}
           {:args [:double :int]    :type :intrinsic :symbol "Math_hypot_DI" :returns :double}
           {:args [:any :any]       :type :intrinsic :symbol "Math_hypot"    :returns :double}]}}

  java.lang.String
  {:extends java.lang.Object
   :object-type 1
    :constructor [{:args [] :type :call :symbol "String_createEmpty" :returns java.lang.String}]
   :static-fns
   {print [{:args [:any] :type :call :symbol "print" :returns :nil}]}
   :instance-fns
   {contains [{:args [:this java.lang.String] :type :call :symbol "String_contains" :returns :bool}]
    indexOf  [{:args [:this java.lang.String] :type :call :symbol "String_indexOf"  :returns :int}
              {:args [:this java.lang.String :int] :type :call :symbol "String_indexOfFrom"  :returns :int}]
    replace [{:args [:this java.lang.String java.lang.String] :type :call :symbol "String_replace" :returns java.lang.String}]}}

  java.lang.StringBuilder
  {:extends java.lang.Object
   :object-type 21
   :constructor [{:args [java.lang.String] :type :call :symbol "StringBuilder_create" :returns java.lang.StringBuilder}]
   :instance-fns
   {append [{:args [:this java.lang.String] :type :call :symbol "StringBuilder_append" :returns java.lang.StringBuilder}]}}

  clojure.lang.Util
  {:static-fns
    {equiv [{:args [:int :int]       :type :intrinsic :symbol "ICmpEQ"         :returns :bool}
            {:args [:double :double] :type :intrinsic :symbol "FCmpOEQ"        :returns :bool}
            {:args [:bigint :double] :type :intrinsic :symbol "FCmpOEQ_BD"     :returns :bool}
            {:args [:bigint :int]    :type :call      :symbol "BigInteger_equalsInt" :returns :bool}
            {:args [:int :bigint]    :type :call      :symbol "BigInteger_intEquals" :returns :bool}
            {:args [:double :bigint] :type :intrinsic :symbol "FCmpOEQ_DB"     :returns :bool}
            {:args [:ratio :double]  :type :intrinsic :symbol "FCmpOEQ_RD"     :returns :bool}
            {:args [:double :ratio]  :type :intrinsic :symbol "FCmpOEQ_DR"     :returns :bool}
            {:args [:int :double]    :type :intrinsic :symbol "FCmpOEQ_ID"     :returns :bool}
            {:args [:double :int]    :type :intrinsic :symbol "FCmpOEQ_DI"     :returns :bool}
            {:args [:any :any]       :type :call      :symbol "equals_managed" :returns :bool}]
     identical [{:args [:any :any]       :type :call      :symbol "identical_managed" :returns :bool}]}}



  clojure.lang.PersistentVector
  {:object-type 4
   :extends java.lang.Object
   :instance-fns
   {asTransient [{:args [:this] :type :call :symbol "PersistentVector_transient" :returns clojure.lang.PersistentVector}]
    persistent [{:args [:this] :type :call :symbol "PersistentVector_persistent_BANG_" :returns clojure.lang.PersistentVector}]
    conj [{:args [:this :any] :type :call :symbol "PersistentVector_conj_BANG_" :returns clojure.lang.PersistentVector}]
    assoc [{:args [:this :int :any] :type :call :symbol "PersistentVector_assoc_BANG_" :returns clojure.lang.PersistentVector}]
    pop [{:args [:this] :type :call :symbol "PersistentVector_pop_BANG_" :returns clojure.lang.PersistentVector}]}}

  clojure.lang.RT
  {:static-fns
   {conj [{:args [clojure.lang.PersistentVector :any] :type :call :symbol "PersistentVector_conj" :returns clojure.lang.PersistentVector}]
    assoc [{:args [clojure.lang.PersistentVector :int :any] :type :call :symbol "PersistentVector_assoc" :returns clojure.lang.PersistentVector}]
    pop [{:args [clojure.lang.PersistentVector] :type :call :symbol "PersistentVector_pop" :returns clojure.lang.PersistentVector}]}}}
